<html>  
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <link rel="shortcut icon" href="/static/favicon.ico"/>
    </head>
    <body>
        <h1 class="title">{{ title }}</h1>

        <h3 class="phone">{{ phone }}</h3>

        <a href="/clearTable"><input type="button" value="Clear Table" class="mainButton"></a>

        <table id="chat">
            <thead>
                <tr><th>Time</th><th>Sender</th><th>Message</th></tr>
            </thead>
            <tbody>
                <tr><td>1:00 AM</td><td>Jim Brown</td><td>Go Browns!!!</td></tr>
                <tr><td>2:00 AM</td><td>Mickey Mouse</td><td>Minnie is goofy looney.</td></tr>
                <tr><td>3:00 AM</td><td>Tom Brady</td><td>I like having six.</td></tr>
                <tr><td>4:00 AM</td><td>The Most Interesting Man</td><td>Beer me.</td></tr>
                <tr><td>5:00 AM</td><td>Bob Marley</td><td>Bag me.</td></tr>
                <tr><td>6:00 AM</td><td>Slim Shady</td><td>I'd walk 8 miles, then 8 miles more.</td></tr>
                <tr><td>7:00 AM</td><td>Tom Hanks</td><td>Run, Private Ryan, Run!</td></tr>
                <tr><td>8:00 AM</td><td>Thomas the Tank Engine</td><td>Diesel can't touch this caboose.</td></tr>
                <tr><td>9:00 AM</td><td>Mr. Incredible</td><td>I am incredible.</td></tr>
                <tr><td>10:00 AM</td><td>Lady Gaga</td><td>*noises weakly resembling a musical score*</td></tr>
            </tbody>
        </table>

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="/static/scripts.js"></script>
    </body>
</html>  
